  <section class='col-sm-3 rooms'>
      <app-room-list></app-room-list>
      <app-message></app-message>
    </section>
<div class="container">
  <h2> {{ roomName }}</h2>
  <div class="row">
    <div class="col-md-8">
      <div #scrollMe class="bs-example" id="messages">
        <div *ngFor="let message of messages | async">
          <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
            <p>{{ message.message }}</p>
            <div class="author">
              {{ message.displayName }} | {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
            </div>
          </div>
        </div>

      </div>

      <figure class="highlight">
        <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <a class="send-message" (click)="sendMessage()">SEND</a>
      </figure>
    </div>
  </div>
</div>