<h1>
  {{title}}
</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Firebase Crud</a>
    </div>
    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>

 <div class="app-content container">
  <div class="row">
 
    <section class='col-sm-9'>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
